rubyffi/
ffi_gen/
cef_source/
**/.vscode
**/.gradle/
.vscode/
build/
!build/cef_binary*.tar.bz2
**/bin/
!cefrust/src/bin
cefrust/cef_*
cefrust/target/
cefrust/**/target/
**/build/
**/Dockerfile
**/.git
cefswt/**/target/
cefswt/**/*-x86_64/*
!cefswt/**/*-x86_64/*cefrust*
!cefswt/**/*-x86_64/files.properties
!cefswt/**/*-x86_64/checksum