<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="cef_rcp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.make.cef.sample.e4/css/default.css">
         </property>
         <property
               name="appName"
               value="com.make.cef.sample.e4">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.make.cef.sample.e4/com.make.cef.sample.e4.Lifecycle">
         </property>
      </product>
   </extension>

</plugin>
