<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.make.cefswt/src/main/java/com/make/cef/samples/cefsimple/CefJNR.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="${env_var:HOME}/Downloads/cef_binary_3.2883.1539.gd7f087e_linux64/Release"/>
<mapEntry key="LD_PRELOAD" value="${env_var:HOME}/Downloads/cef_binary_3.2883.1539.gd7f087e_linux64/Release/libcef.so"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.make.cef.samples.cefsimple.CefJNR"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.make.cefswt"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-verbose:jni=true"/>
</launchConfiguration>
